<style>
    #navbar a {
        color: white;
        text-decoration: none;
        margin-right: 16px;
        font-weight: bold;
    }
</style>

<div id="navbar" style="background-color: black; padding: 16px;
    display: flex">
    <a href="/">Home</a>
    <a href="/search">Search</a>
    <a href="/profile">Profile</a>
    <div style="flex: 1"></div>
    <a href="/logout">Log out</a>
</div>