<html>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <body style="background-color: rgb(240, 240, 240); margin: 0px;
    font-family: Arial, Helvetica, sans-serif">
        <%- body %>
    </body>
</html>